<% if signed_in? %>

  <table class="front " summary="for  signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost"> What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
      <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

<h1>Sample app homepage</h1>
        <p>
          This is a simple site that is basically a "twitter-like" thing. feel free to sign up and brake it!
          <a href="http://minecraft.net/"> MINECRAFT here </a> if you want. it's a great game.
        </p>

<%= link_to "Sign up NOW!", signup_path, :class => "signup_button round" %>

<% end %>